   
   <head>
   <!--Dublin Core Embedding for Doi-->

        <title> Landing Page for {{ data['@id'] }} </title>

        <!-- What DC metadata is in the page-->
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" >
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" >
        <link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype" >

        <!-- Values-->
        <meta name="DC.type" content = "Collection" >
        <meta name="DC.title" content = "Landing Page for {{ data['name']}}" >

        <!-- identifier -->            
        <meta name="DC.identifier" content ="{{ data['@id']}}" scheme="DCTERMS.URI" > 
        <link rel="DC.identifier" content ="{{ data['@id']}}" scheme="DCTERMS.URI" > 

        <!-- locations --> 
        <meta name="DCTERMS.subject" href= "{{ data['name'] }}" > 
        <link rel="DCTERMS.subject" href="{{ data['name'] }}" >

    </head>

   <!-- Schema.org formatted body --> 
   <body itemscope itemtype="http://schema.org/{{data['@type']}}">

      <!-- required Identifier Metadata -->
      <div id='identifier_container'>
         <h2> Identifier Metadata </h2>

         <!-- required keys --> 
         <table>
            <tr>
               <th> Name </th>
               <th itemprop="name">{{data['name']}}</th>
            </tr>

            <tr> 
               <th>Identifier </th>
               <th itemprop="identifier">{{data['@id']}}</th>
            </tr> 

            <tr>
               <th> Author </th>
               <th itemprop="author">{{data['author']}}</th>
            </tr>


            <tr>
               <th> Date Published </th>
               <th itemprop="datePublished">{{data['datePublished']}}</th>
            </tr>
     

            {% if data['dateCreated'] is defined %}
            <tr>
               <th> Date Created </th>
               <th itemprop="dateCreated"> {{data['dateCreated']}}</th>
            </tr>
            {% endif %}


            {% if data['additionalType'] is defined %}
            <tr>
               <th> Additional Type </th>
               <th itemprop="additionalType"> {{data['additionalType']}} </th>
            </tr>
            {% endif %}


            {% if data['description'] is defined %}
            <tr>
               <th> Description </th>
               <th itemprop="description"> {{data['description']}} </th>
            </tr>
            {% endif %}

            {% if data['keywords'] is defined %}
            <tr>
               <th> Keywords </th>
               <th itemprop="keywords"> {{data['keywords']}} </th>
            </tr>
            {% endif %}

            {% if data['license'] is defined %}
            <tr>
               <th> License </th>
               <th itemprop="license"> {{data['license']}} </th>
            </tr>
            {% endif %}
            
            {% if data['version'] is defined %}
            <tr>
               <th> Version </th>
               <th itemprop="version"> {{data['version']}} </th>
            </tr>
            {% endif %}

         </table>
      </div>
   
      <div>
         <table>
         {% for cloud_location in data['contentUrl'] %}
            <tr>
               <th> Cloud Location</th>
               <th> {{cloud_location}} </th>
            </tr>
         {% endfor %}
         </table>
      </div>

      
      <!-- citation metadata -->
      {% if data['citation'] is not none %}
      <div id='citation_container'>
         <h2> Citation </h2>
         <p itemprop='citation'> {{data['citation']}} </p>
      </div>
      {% endif %}


      <!-- relationships -->
      <div id='rel_container'>
            <h2> Identifier Relationships </h2>

            <table>
               {% if data['includedInDataCatalog'] is defined %}
               <tr>
                  <th> Included In Data Catalog </th>
                  <th itemprop="includedInDataCatalog"> {{data['includedInDataCatalog']}} </th>
               </tr> 
               {% endif %}


               {% if data['isBasedOn'] is defined %}
               <tr>
                  <th> Is Based On </th>
                  <th itemprop="isBasedOn"> {{data['isBasedOn']}} </th>
               </tr> 
               {% endif %}

               {% if data['PredecesorOf'] is defined %}
               <tr>
                  <th> Predecessor Of </th>
                  <th itemprop="PredecessorOf"> {{data['PredecessorOf']}} </th>
               </tr> 
               {% endif %}

               {% if data['successorOf'] is defined %}
               <tr>
                  <th> Successor Of </th>
                  <th itemprop="successorOf"> {{data['successorOf']}} </th>
               </tr> 
               {% endif %}

               {% if data['hasPart'] is defined %}
               <tr>
                  <th> Has Part </th>
                  <th itemprop="hasPart"> {{data['hasPart']}} </th>
               </tr> 
               {% endif %}

               {% if data['isPartOf'] is defined %} 
               <tr>
                  <th> Is Part Of </th>
                  <th itemprop="hasPart"> {{data['hasPart']}} </th>
               </tr> 
               {% endif %}
            </table>
     
      </div>
   
      <!-- funder data --> 
      {% if data['funder'] is not none %} 
      <div id='funder_container'>
         
         {% if data['funder'] is mapping %}
            <table itemtype="http://schema.org/funder">
               <tr>
                  <th> Funder Type </th>
                  <th itemprop="@type"> {{data['funder']['@type']}} </th>
               </tr>

               <tr>
                  <th> Funder Name </th>
                  <th itemprop="name"> {{data['funder']['name']}} </th>
               </tr>
               <tr>
                  <th> Funder Id </th>
                  <th itemprop="@id"> {{data['funder']['@id']}} </th>
               </tr>

            </table>
         {% endif %}
      </div>
      {% endif %}
        

      <!-- file description metadata -->

      <div id="file_container">
         {% if data['contentSize'] is not none %} 
         
         {% endif %}
         
         <!-- look for checksums -->  
         {% if data['fileFormat'] is not none %}
         {% endif %}


         {% if data['contentUrl'] is not none %}
         {% endif %}
      </div>




</body>


