{% extends "layout.html" %}
        <title> Landing Page for {{ data['@id'] }} </title>
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" >
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" >
        <link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype" >

        <meta name="DC.type" content = "Collection" >
        <meta name="DC.title" content = "{{ data['name']}}" >

        <!-- identifier -->            
        <meta name="DC.identifier" content ="{{ data['@id']}}" scheme="DCTERMS.URI" > 
        <link rel="DC.identifier" content ="{{ data['@id']}}" scheme="DCTERMS.URI" > 

        <!-- locations --> 
        <meta name="DCTERMS.subject" href= "{{ data['name'] }}" > 
        <link rel="DCTERMS.subject" href="{{ data['name'] }}" >

    </head>

<body itemscope itemtype="http://schema.org/{{data['@type']}}">

    <h1> Data Catalogue: {{ data['name'] }} </h1>
    <table>
        <!--Dataset Identifier -->
        <tr>
            <th> Identifier </th>
            <th itemprop="identifier"> {{ data['@id'] }} </th>
        </tr>

        <!--Title-->
        <tr>
            <th> Name </th>
            <th itemprop="name"> {{ data['name'] }} </th>
        </tr>

         <tr>
            <th> Url </th>
            <th itemprop="identifier"> <a href="{{data['url']}}">{{data['url]}}</a></th>
         </th>
    </table>
</body>
