
{% extends "base.html" %} 

   {% block dchead %}
      <script type="application/ld+json">
         {{data|tojson|safe}}
      </script>


   <!--Dublin Core Embedding for Ark-->
        <title> Landing Page for {{ data['@id'] }} </title>

        <!-- What DC metadata is in the page-->
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" >
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" >
        <link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype" >

        <!-- Values-->
        <meta name="DC.type" content = "Collection" >
        <meta name="DC.title" content = "Landing Page for {{ data['name']}}" >

        <!-- identifier -->            
        <meta name="DC.identifier" content ="{{ data['@id']}}" scheme="DCTERMS.URI" > 
        <link rel="DC.identifier" content ="{{ data['@id']}}" scheme="DCTERMS.URI" > 

        <!-- locations --> 
        <meta name="DCTERMS.subject" href= "{{ data['name'] }}" > 
        <link rel="DCTERMS.subject" href="{{ data['name'] }}" >
      {% endblock %}

   {% block body %}
   <!-- Schema.org formatted body --> 
   <body itemscope itemtype="http://schema.org/{{data['@type']}}">

      <div class="container" id="identifier_container">
         <h2> Identifier Metadata </h2>

         <!-- required keys --> 
         <table>
            <tr>
               <th> Name </th>
               <th itemprop="name">{{data['name']}}</th>
            </tr>
            
            <tr> 
               <th>Identifier </th>
               <th itemprop="identifier">{{data['@id']}}</th>
            </tr> 

            <tr>
               <th> Author </th>
               <th itemprop="author">{{data['author']}}</th>
            </tr>

            <tr>
               <th> Date Created </th>
               <th itemprop="dateCreated">{{data['dateCreated']}}</th>
            </tr>
     
            {% if data['includedInDataCatalog'] is defined %} 
            <tr>
               <th> Included In Data Catalog </th>
               <th itemprop="includedInDataCatalog"> {{data['includedInDataCatalog']}} </th>
            </tr> 
            {% endif %}

            <tr>
               <th> Content Url </th>

               <th> <a href="{{data['contentUrl']}}"> {{data['contentUrl']}}</a> </th>
            </tr>

            <tr>
               <th> Checksum </th>
               <th> {{data['checksum']}} </th>
            </tr>

            <tr>
               <th> Checksum Method </th>
               <th> {{data['checksumMethod']}} </th>
            </tr>
      </table>

      </div>
   </body>
   {% endblock %}


