
{% extends "base.html" %} 

   {% block dchead %}
      <script type="application/ld+json">
         {{data|tojson|safe}}
      </script>


   <!--Dublin Core Embedding for Ark-->
        <title> Landing Page for {{ data['@id'] }} </title>

        <!-- What DC metadata is in the page-->
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" >
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" >
        <link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype" >

        <!-- Values-->
        <meta name="DC.type" content = "Collection" >
        <meta name="DC.title" content = "Landing Page for {{ data['name']}}" >

        <!-- identifier -->            
        <meta name="DC.identifier" content ="{{ data['@id']}}" scheme="DCTERMS.URI" > 
        <link rel="DC.identifier" content ="{{ data['@id']}}" scheme="DCTERMS.URI" > 

        <!-- locations --> 
        <meta name="DCTERMS.subject" href= "{{ data['name'] }}" > 
        <link rel="DCTERMS.subject" href="{{ data['name'] }}" >
      {% endblock %}

   {% block body %}
   <!-- Schema.org formatted body --> 
   <body itemscope itemtype="http://schema.org/{{data['@type']}}">

      <div class="container" id="identifier_container">
         <h2> Identifier Metadata </h2>

         {% if profile=='NIHdc' %}
            <table>
               <tr>
                  <th class='metadataKey'>Name</th>
                  <th itemprop="name" class='metadataVal name'>{{data['name']}}</th>
               </tr>
               
               <tr> 
                  <th class='metadataKey'>Identifier</th>
                  <th itemprop="identifier" class='metadataVal identifier'>{{data['identifier']}}</th>
               </tr> 


               {% if data['author'] is string %}
               <tr>
                  <th class='metadataKey'>Author</th>
                  <th itemprop="author" class='metadataVal author'>{{data['author']}}</th>
               </tr> 

               {% elif data['author'] is iterable %} 
                  <tr>
                     <th>Authors</th>
                  {% for author in data['author'] %}
                     <tr>
                        {% if author is mapping %}
                        <th>
                           <th itemprop="author" class="metadataVal author"> {{ author['name'] }} </th>
                        </th>
                        {% elif author is string %}
                        <th>
                           <th itemprop="author" class="metadataVal author"> {{ author }} </th>
                        </th>
                        {% endif %}
                     </tr>

                  {% endfor %}
                  </tr>

               {% elif data['author'] is mapping %}
                  <tr>
                     <th class='metadataKey'> Author </th>
                     <th itemprop="author" class='metadataVal author'> {{data['author']}} </th>
                  </tr>
               {% endif %}

               <tr>
                  <th class='metadataKey'>Date Created</th>
                  <th itemprop="dateCreated" class='metadataVal dateCreated'>{{data['dateCreated']}}</th>
               </tr>
        
               {% if data['includedInDataCatalog'] is defined %} 
               <tr>
                  <th class='metadataKey'>Included In Data Catalog</th>
                  <th itemprop="includedInDataCatalog" class='metadataVal includedInDataCatalog'> {{data['includedInDataCatalog']}} </th>
               </tr> 
               {% endif %}

               {% if data['contentUrl'] is string %}
               <tr>
                  <th class='metadataKey'>Content Url</th>
                  <th class='metadataVal contentUrl'> <a href="{{data['contentUrl']}}"> {{data['contentUrl']}}</a> </th>
               </tr>
               {% elif data['contentUrl'] is iterable %}
               <tr>
                  <th class='metadataKey'>Content Url</th>
                  <table>
                     {% for url in data['contentUrl'] %}
                     <tr>
                        <th class='metadataVal contentUrl'> 
                           <a href="{{data['contentUrl']}}">{{data['contentUrl']}}</a> 
                        </th>
                     </tr>

                     {% endfor %}
                  </table>

               </tr>
               {% endif %}

               <tr>
                  <th class='metadataKey'>Checksum </th>
                  <th class='metadataVal checksum'> {{data['checksum']}} </th>
               </tr>

               <tr>
                  <th class='metadataKey'>Checksum Method </th>
                  <th class='metadataVal checksumMethod'> {{data['checksumMethod']}} </th>
               </tr>
            </table>
         {% endif %}

         {% if profile=='datacite' %}
         <table>

            <tr>
               <th class='metadataKey'>Title</th>
               <th class='metadataValue'>{{data['name']}} </th>
            </tr>

            {% if data['identifier'] is iterable %}
            <tr>
               <th> Identifiers </th>
               <th> 
                  <table>
                  {% for id in data['identifier'] %}
                     {% if id is string %}
                     <tr> <th> {{id}}  </th> </tr>
                     {% endif %} 
                  {% endfor %}
                  </table>
               </th>
            </tr>


            {% elif data['identifier'] is string %}
            <tr>
               <th class='metadataKey'>Identifier</th>
               <th>{{data['identifier']}}</th>
            </tr>
            {% endif %}

            <tr>
               <th class='metadataKey'>Type</th>
               <th class='metadataValue'>{{data['@type']}}</th>
            </tr>

            <tr>
               <th class='metadataKey'>Url</th>
               <th class='metadataValue'>{{data['url']}}</th>
            </tr>

            <tr>
               <th class='metadataKey'>Date Published</th>
               <th class='metadataVal'>{{data['datePublished']}} </th>
            </tr>

            {% if data['author'] is iterable %}
            <tr>
               <th class='metadataKey'>Authors</th>
               {% for author in data['author'] %}
               <tr>
                  {% if author is string %}
                  <th class='metadataVal'>{{author}}</th>
                  {% elif author is mapping %}
                  <th class='metadataVal'>{{author['name']}}</th>
                  {% endif %}
               </tr>
               {% endfor %}
            </tr>
            {% endif %}

            {% if data['author'] is string %}
            <tr>
               <th class='metadataKey'>Author</th>
               <th class='metadataVal'> {{data['author']}} </th>
            </tr>
            {% endif %}


            
         </table>
         {% endif %}


         {% if profile=='erc' %}
         <table>
            {% if data['who'] is defined %}
            <tr>
               <th class='metadataKey'> Who </th>
               <th class='metadataVal'> {{data['who']['@value']}}</th>
            </tr>
            {% endif %}

            {% if data['what'] is defined %}
            <tr>
               <th class='metadataKey'> What </th>
               <th class='metadataVal'>{{data['what']['@value']}} </th>
            </tr>
            {% endif %}

            {% if data['when'] is defined %}
            <tr>
               <th class='metadataKey'> When </th>
               <th class='metadataVal'>{{ data['when']['@value'] }} </th>
            </tr>
            {% endif %}

            {% if data['where'] is defined %}
            <tr>
               <th class='metadataKey'> Where </th>
               <th class='metadataVal'>{{ data['where']['@value']}} </th>
            </tr>
            {% endif %}

            {% if data['how'] is defined %}
            <tr>
               <th class='metadataKey'> How </th>
               <th class='metadataVal'>{{ data['how']['@value'] }}</th>
            </tr>
            {% endif %}
         </table>
         {% endif %}
     
         {% if profile=='dc' %}
         <table>
            <tr>
               <th class='metadataKey'>Title </th>
               <th class='metadataVal'>{{data['title']}} </th>
            </tr>

            <tr>
               <th class='metadataKey'>Creator </th>
               <th class='metadataVal'>{{data['creator']}} </th>
            </tr>
      
            <tr>
               <th class='metadataKey'>Subject </th>
               <th class='metadataVal'>{{data['subject']}} </th>
            </tr>
      
            <tr>
               <th class='metadataKey'>Description </th>
               <th class='metadataVal'>{{data['description']}}</th>
            </tr>

            <tr>
               <th class='metadataKey'>Date </th>
               <th class='metadataVal'>{{data['data']}}</th>
            </tr>


            <tr>
               <th class='metadataKey'>Contributor </th>
               <th class='metadataVal'>{{data['contributor']}} </th>
            </tr>

            <tr>
               <th class='metadataKey'>Type </th>
               <th class='metadataVal'>{{data['type']}}</th>
            </tr>

            <tr>
               <th class='metadataKey'>Format </th>
               <th class='metadataVal'>{{data['format']}}</th>
            </tr>
            <tr>
               <th class='metadataKey'>Source </th>
               <th class='metadataVal'>{{data['source']}}</th>
            </tr>

            <tr>
               <th class='metadataKey'>Relation </th>
               <th class='metadataVal'>{{data['relation']}} </th>
            </tr>
         </table>
         {% endif %}
      </div>

      <div class="container"> 
         <h2> JSON-LD </h2>
         <p>{{data|tojson|safe}}</p>
      </div>
   </body>
   {% endblock %}


