   
{% extends "base.html" %} 

      <!--Dublin Core Embedding for Doi-->
   {% block dchead %}
      <script type="application/ld+json">
         {{data|tojson|safe}}
      </script>

      <title> Landing Page for {{ data['@id'] }} </title>
      
      <!-- What DC metadata is in the page-->
      <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" >
      <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" >
      <link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype" >
      
      <!-- Values-->
      <meta name="DC.type" content = "Dataset" >
      <meta name="DC.title" content = "Landing Page for {{ data['name']}}" >
      
      <!-- identifier -->            
      <meta name="DC.identifier" content ="{{ data['@id']}}" scheme="DCTERMS.URI" > 
      <link rel="DC.identifier" content ="{{ data['@id']}}" scheme="DCTERMS.URI" > 
      
      <!-- locations --> 
      <meta name="DCTERMS.subject" href= "{{ data['name'] }}" > 
      <link rel="DCTERMS.subject" href="{{ data['name'] }}" > 
   {% endblock %}

   <!-- Schema.org formatted body --> 
   {% block body %}
   <body itemscope itemtype="http://schema.org/Dataset">
      
      <!-- required Identifier Metadata -->
      <div class='container' id="body_container">
         <div id='identifier_container' class='container'>
            <h2 class='container_header'> Identifier Metadata </h2>

            <!-- required keys --> 
            <table>
               <tr>
                  <th class='metadataKey' > Name </th>
                  <th itemprop="name" class="metadataVal name">{{data['name']}}</th>
               </tr>


            {% if data['identifier'] is string or data['identifier']|length == 1%}
            <tr>
               <th class='metadataKey'>Identifier</th>
               <th class='metadataVal identifier'>{{data['identifier']}}</th>
            </tr>
            {% elif data['identifier'] is iterable and data['identifier']|length>1 %}
            <tr>
               <th class='metadataKey'> Identifiers </th>
               <th> 
                  <table>
                  {% for id in data['identifier'] %}
                     {% if id is string %}
                     <tr> <th class='metadataVal identifier'> <a href="{{id}}"> {{id}} </a>  </th> </tr>
                     {% endif %} 
                  {% endfor %}
                  </table>
               </th>
            </tr>
            {% endif %}


            {% if data['url'] is defined %}
               <tr>
                  <th class='metadataKey'>Landing Page</th>
                  <th class='metadataVal url'><a href="{{data['url']}}"> {{data['url']}} </a></th>
               </tr>
            {% endif %}
               
            {% if data['author'] is mapping %}
            <tr>
               <th class='metadataKey'> Author </th>
               <th class='metadataVal author' itemprop="author">{{data['author']['name']}}</th>
            </tr>

            {% elif data['author'] is string%}
            <tr>
               <th class='metadataKey'>Author</th>
               <th class='metadataVal author' itemprop="author">{{data['author']}}</th>
            </tr>

            {% elif data['author'] is iterable%}
            <tr>
               <th class='metadataKey'>Authors</th>
               <th>
                  <table>
                  {% for author in data['author'] %}
                     {% if author is string %}
                     <tr><th class='metadataVal author'>{{author}}</th></tr>
                     {% elif author is mapping %}
                        {% if author['@id'] is defined %}
                           <tr>
                              <th class='metadataVal author'>{{author['name']}}</th>
                              <th>{{author['@id']}}</th>
                           </tr>
                        {% else %}
                           <tr><th class='metadataVal'>{{author['name']}} </th></tr>
                        {% endif %}
                     {% endif %}
                  {% endfor %}
                  </table>
               </th>
            </tr>
            {% endif %}


            <tr>
               <th class='metadataKey'> Date Published </th>
               <th class='metadataVal datePublished' itemprop="datePublished">{{data['datePublished']}}</th>
            </tr>
        

               {% if data['dateCreated'] is defined %}
               <tr>
                  <th> Date Created </th>
                  <th itemprop="dateCreated" class="metadataVal dateCreated"> {{data['dateCreated']}}</th>
               </tr>
               {% endif %}


               {% if data['additionalType'] is defined %}
               <tr>
                  <th class="metadataKey"> Additional Type </th>
                  <th class="metadataVal additionalType" itemprop="additionalType"> {{data['additionalType']}} </th>
               </tr>
               {% endif %}


               {% if data['description'] is defined %}
               <tr>
                  <th class= "metadataKey"> Description </th>
                  <th class="metadataVal description" itemprop="description"> {{data['description']}} </th>
               </tr>
               {% endif %}

               {% if data['keywords'] is defined %}
               <tr>
                  <th class="metadataKey"> Keywords </th>
                  <th class="metadataVal keywords" itemprop="keywords"> {{data['keywords']}} </th>
               </tr>
               {% endif %}

               {% if data['license'] is defined %}
               <tr>
                  <th class="metadataKey"> License </th>
                  <th class="metadataVal liscence" itemprop="license"> {{data['license']}} </th>
               </tr>
               {% endif %}
               
               {% if data['version'] is defined %}
               <tr>
                  <th class="metadataKey"> Version </th>
                  <th class="metadataVal version" itemprop="version"> {{data['version']}} </th>
               </tr>
               {% endif %}


               {% if  data['publisher'] is defined %}
               <tr>
                  <th class="metadataKey"> Publisher </th>
                  {% if data['publisher'] is string %}
                  <th class="metadataVal publisher">{{data['publisher']}}</th>
                  {% elif data['publisher'] is mapping %}
                  <th class="metadataVal publisher">{{data['publisher']['name']}} </th>
                  {% endif %}
               </tr>
               {% endif %}

            </table>
         </div>
      
         <!-- file description metadata -->

         <div id="file_container" class='container'>
            <table>
            {% if data['contentSize'] is defined %} 
               <tr>
                  <th class="metadataKey"> Content Size </th>
                  <th class="metadataVal contentSize"> {{data['contentSize']}} </th>
               </tr>
            
            {% endif %}
            
            {% if data['fileFormat'] is defined %}
               <tr>
                  <th class="metadataKey"> File Format </th>
                  <th class="metadataVal fileFormat"> {{data['fileFormat']}} </th>
               </tr>

            {% endif %}

            {% if data['contentUrl'] is defined %}
            <tr>
               <th class="metadataKey"> Cloud Locations </th>
               {% if data['contentUrl'] is iterable %}
               <th> 
                  <ul>
                  {% for cloud_location in data['contentUrl'] %}
                  <li> <a href="{{cloud_location}}" class="metadataVal contentUrl"> {{cloud_location}} </a>  </li>
                  {% endfor %}
                  </ul>
               </th>
               {% elif data['contentUrl'] is string %}
               <th class="metadataVal contentUrl"> {{data['contentUrl'] }}</th>
               {% endif %}
            </tr>
            {% endif %}

            </table>
            <!-- look for checksums -->  
         </div>

    
         <!-- citation metadata -->
         {% if data['citation'] is defined %}
         <div id='citation_container' class='container'>
            <h2 class='container_header'> Citation </h2>
            <p itemprop='citation' class="metadataVal citation"> {{data['citation']}} </p>
         </div>
         {% endif %}


         <!-- relationships -->
         {% if data['isPartOf'] is defined %}
         <div id='rel_container' class='container'>
               <h2 class='container_header'> Identifier Relationships </h2>

               {% if data['isPartOf'] is mapping %}
               <h3> Included In Data Catalog </h3>
                  <table itemprop="includedInDataCatalog">
                     <tr>
                        <th> Catalog Name </th>
                        <th class="metadataVal isPartOf"> {{data['isPartOf']['name']}} </th>
                     </tr>

                     {% if data['isPartOf']['@id'] is defined %}
                     <tr> 
                        <th> Data Catalog Id
                        <th> {{data['isPartOf']['@id']}} </th>
                     </tr>
                     {% endif %}

                     
                  </table>

               {% endif %}


                  {% if data['isBasedOn'] is defined %}
                  <tr>
                     <th> Is Based On </th>
                     <th itemprop="isBasedOn" class="metadataVal isBasedOn"> {{data['isBasedOn']}} </th>
                  </tr> 
                  {% endif %}

                  {% if data['PredecesorOf'] is defined %}
                  <tr>
                     <th> Predecessor Of </th>
                     <th itemprop="PredecessorOf" class="metadataVal PredecessorOf"> {{data['PredecessorOf']}} </th>
                  </tr> 
                  {% endif %}

                  {% if data['successorOf'] is defined %}
                  <tr>
                     <th> Successor Of </th>
                     <th itemprop="successorOf" class="metadataVal successorOf"> {{data['successorOf']}} </th>
                  </tr> 
                  {% endif %}

                  {% if data['hasPart'] is defined %}
                  <tr>
                     <th> Has Part </th>
                     <th itemprop="hasPart" class="metadataVal hasPart"> {{data['hasPart']}} </th>
                  </tr> 
                  {% endif %}

               </table>
        
         </div>
         {% endif %}

         <!-- funder data --> 
         {% if data['funding'] is defined %} 
         <div id='funder_container' class='container'>
            <h2 class='container_header'> Funding Metadata </h2>        
            <table>
               <tr>
                  <th> Name </th>
                  <th> Identifier </th>
                  <th> Type </th>
               </tr>
            {% for funder in data['funding'] %}
               <tr itemtype="http://schema.org/funder">
                  <th itemprop="name" class="metadataVal funderName"> {{funder['name']}} </th>

                  <th itemprop="@id"> <a href="{{funder['@id']}}" class="metadataVal funderId"> {{funder['@id']}} </a> </th>

                  <th itemprop="@type" class="metadataVal funderType"> {{funder['@type']}} </th>

               </tr>

            {% endfor %}

            </table>
         </div>
         {% endif %}
      </div>

      <div class="container"> 
         <h2> JSON-LD </h2>
         <p>{{data|tojson|safe}}</p>
      </div>

   </body>
   {% endblock %}


